fastapi
uvicorn[standard]
python-dotenv
openai
langchain
langchain-openai
pytest
pytest-asyncio
httpx
Jinja2
pydantic-settings
pre-commit
pydantic
xhtml2pdf
streamlit
python-multipart
prometheus-client
